In [137]:
import os
import pandas as pd

# Saving all csv files as one
file_list = []
for file in os.listdir():
    if file.endswith('.csv'):
        df = pd.read_csv(file,sep=";")
        df['filename'] = file
        file_list.append(df)

all_subjects = pd.concat(file_list, ignore_index=True)
all_subjects.to_csv("all.txt")

In [139]:
# Drop redundant rows(the column name rows)
all_subjects= all_subjects.drop(labels= [27,542,2547],axis=0)

,Trial_number,bc_release,condition,delay,latency,result,filename,condition(1 = change),"result(1 = success, 2 = missed)"
0,1,1029,1,172,1217,1,subject_19.csv,NaN,NaN
1,2,827,0,237,970,1,subject_19.csv,NaN,NaN
2,3,980,0,280,1090,1,subject_19.csv,NaN,NaN
3,4,955,1,288,1091,1,subject_19.csv,NaN,NaN
4,5,526,0,114,1763,0,subject_19.csv,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6543,496,741,NaN,124,863,NaN,subject_1.csv,1.0,1.0
6544,497,594,NaN,141,722,NaN,subject_1.csv,1.0,1.0
6545,498,574,NaN,173,691,NaN,subject_1.csv,1.0,1.0
6546,499,638,NaN,122,764,NaN,subject_1.csv,0.0,1.0
6547,500,733,NaN,298,853,NaN,subject_1.csv,1.0,1.0

In [144]:
# Data type and value transformation for columns
all_subjects['condition']=all_subjects.apply(lambda row: row['condition(1 = change)'] if pd.isnull(row['condition']) else row['condition'], axis=1)
all_subjects['result']=all_subjects.apply(lambda row: row['result(1 = success, 2 = missed)'] if pd.isnull(row['result']) else row['result'], axis=1)

all_subjects.condition=all_subjects.condition.astype('int')
all_subjects.result=all_subjects.result.astype('int')
all_subjects.latency=all_subjects.latency.astype('int')
all_subjects.delay= all_subjects.delay.astype('int')
all_subjects.Trial_number= all_subjects.Trial_number.astype('int')
all_subjects.bc_release=all_subjects.bc_release.astype('int')

all_subjects_new= all_subjects.drop(columns=['condition(1 = change)','result(1 = success, 2 = missed)'])

In [164]:
#all_subjects_new.to_csv('all_subjects.csv', index=False)

,Trial_number,bc_release,condition,delay,latency,result,filename
0,1,1029,1,172,1217,1,subject_19.csv
1,2,827,0,237,970,1,subject_19.csv
2,3,980,0,280,1090,1,subject_19.csv
3,4,955,1,288,1091,1,subject_19.csv
4,5,526,0,114,1763,0,subject_19.csv
...,...,...,...,...,...,...,...
6540,496,741,1,124,863,1,subject_1.csv
6541,497,594,1,141,722,1,subject_1.csv
6542,498,574,1,173,691,1,subject_1.csv
6543,499,638,0,122,764,1,subject_1.csv
6544,500,733,1,298,853,1,subject_1.csv